.ant-row > div{
    display: flex;
    margin-top: 20px;
}
.ant-col {
    display: flex;
}
.ant-list-grid .ant-col>.ant-list-item{
    display: flex;
}
.ant-row>div :nth-of-type(4n){
    margin-right: 0;
}