.header {
  width: 100%;
  z-index: 122;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(18, 24, 41, 0.8);
  backdrop-filter: blur(40px);
  display: flex;
  justify-content: center;
  padding: 24px 0;
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    color: #a8aebf;
    .left {
      display: flex;
      .logo {
        position: relative;
        .rightLogo {
          position: absolute;
          left: 0;
          z-index: -1;
        }
      }
      .leftMenu {
        display: flex;
        align-items: center;
        margin-left: 40px;
        a {
          &:first-of-type {
            margin-right: 20px;
          }
        }
      }
    }
    .secondRight {
      display: none;
    }
    .firstRight {
      .right {
        .rightMenu {
          a {
            margin-left: 20px;
          }
        }
      }
    }
  }
}

.headerColor {
  background-color: #000;
  .navColor {
    color: white;
  }
}

@media (max-width: 870px) {
  .header {
    .navbar {
      .secondRight {
        display: flex;
        .right {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          z-index: 555;
          background-color: #000;
          display: flex;
          justify-content: center;
          align-items: center;
          .close {
            position: absolute;
            top: 50px;
            right: 50px;
            color: red;
            font-size: 2rem;
          }
          .rightMenu {
            display: flex;
            flex-direction: column;
            a {
              text-align: center;
              border-bottom: 1px solid blue;
              margin-top: 20px;
              width: 100%;
              margin-left: 20px;
            }
          }
        }
      }
      .firstRight {
        display: none;
      }
    }
  }
}
